---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Acerca de mí | Alberto Rojas" description="Acerca de mí | Alberto Rojas">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mí"
				tagline="Gracias por visitarme. Descubre más sobre mi experiencia profesional y cómo puedo ayudarte en tus proyectos a continuación."
			>
				<img
					width="1553"
					height="873"
					src="/assets/yonson.jpeg"
					alt="Alberto Rojas at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experiencia Laboral</h2>
				<div class="content">
					<p class="content-title">
						Desarrollador Front End
					</p>
					<p class="content-subtitle">2Brains</p>
					<p class="content-date"> jul. 2024 - actualidad</p>
					<p>
						Realicé la renderización de componentes en Angular, aplicando TypeScript para mejorar la tipificación y estructura del código.
					</p>
					<p>
						Integré consultas hacia diversas APIs, optimizando la interacción con sistemas HIS (Healthcare Information Systems) y aprovechando la infraestructura de Google Cloud Platform (GCP).
					</p>
					<p>
						Elaboré prototipos bajo frameworks seleccionados, asegurando la coherencia con los requisitos del proyecto y aplicando principios de diseño modular.
					</p>
					<p>
						Implementé buenas prácticas de desarrollo mediante el uso de Gitflow, garantizando un flujo de trabajo eficiente y controlado durante las fases de integración y despliegue.
					</p>
					<p>
						<b>Stack Tecnológico manejado:</b> Angular, TypeScript, GCP, HIS, API integration, Gitflow, y mejores prácticas en desarrollo.
					</p>
				</div>
				<div class="content">
					<p class="content-title">
						Docente de Desarrollo de Aplicaciones Front End Trainee V2.0 / Docente de Desarrollo de Aplicaciones Full Stack Javascript / Mentor
					</p>
					<p class="content-subtitle">Desafio Latam / Talento Digital / Sence</p>
					<p class="content-date"> ago. 2020 - actualidad</p>
					<p>Dicto clases magistrales de HTML, CSS, Javascript, Boostrap, Vue JS.</p>
					<p>Realizo mentoring a egresados del Bootcamp de Desarrollo Front-End.</p>
					<p><b>Stack Tecnológico manejado:</b> HTML, CSS, Javascript, Boostrap, Vue JS, API integration, Gitflow, y mejores prácticas en desarrollo.</p>
				</div>
				<div class="content">
					<p class="content-title">
						Desarrollador full stack en Cencosud
					</p>
					<p class="content-subtitle">Acid Labs</p>
					<p class="content-date"> oct. 2022 - may. 2024</p>
					<p>
						Desarrollé aplicaciones web DaaS (Delivery as a Service) mediante Micro Frontend, participando en proyectos clave como DaaS-Runner-BFF, DaaS-BFF, y Alert-BFF.
					</p>
					<p>
						Creé experiencias excepcionales para el usuario en la aplicación DaaS, gestionando con éxito interfaces para módulos cruciales como Despacho, Asignación y Transporte con DaaS Host, así como el módulo de Estado de Despacho con Alert Host, garantizando un funcionamiento sin problemas en el Frontend.
					</p>
					<p>
						Lideré la implementación de buenas prácticas en pruebas manuales y automatizadas.
					</p>
					<p>
						Realicé 108 despliegues de mejoras y correcciones en producción.
					</p>
					<p>
						<b>Stack Tecnológico manejado:</b>  ReactJs, React Query, Redux, Tailwind, CSS Module, Styled Component, Storybook, Unit Test, NodeJs, NestJS, PostgreSQL, AWS, GitLab, Jira, Bookstack, New Relic, Jest, Docker, Hotjar y Kubernetes.
					</p>
				</div>
				<div class="content">
					<p class="content-title">
						Jefe de Desarrollos y Métricas
					</p>
					<p class="content-subtitle">Smartjob</p>
					<p class="content-date"> jun. 2022 - oct. 2022</p>
					<p>
						Lideré la planificación, implementación y administración de proyectos estratégicos de desarrollo en áreas de Marketing, Innovación e IT.
					</p>
					<p>
						Gestioné eficazmente un equipo de 10 personas, velando por un clima laboral positivo y alineado con metas organizacionales.
					</p>
					<p>
						Mejoré la eficiencia funcional y operacional del catálogo de aplicaciones, buscando unificación para optimizar los procesos en cada área de negocios.
					</p>
					<p>
						Implementé metodologías ágiles como Scrum y Kanban, liderando la transformación digital y modernización de plataformas. 
					</p>
					<p>
						Integré píxeles de Linkedin y Google Ads con Google Tag Manager y construí reportes de métricas en Google Data Studio.
					</p>
					<p>
						<b>Stack Tecnológico manejado:</b> ReactJs, Styled Component, Unit Test, PostgreSQL, GCP, GitHub, Looker, Google Tag Manager, Google Optimize, Google Analytics, Gestion de proyectos.
					</p>
				</div>
				<div class="content">
					<p class="content-title">
						Desarrollador Front End
					</p>
					<p class="content-subtitle">2Brains</p>
					<p class="content-date"> oct. 2021 - jun. 2022</p>
					<p>
						Realicé renderización de componentes en Modyo.
					</p>
					<p>
						Integré consultas hacia una API. 
					</p>
					<p>
						Elaboré prototipos bajo frameworks seleccionados. 
					</p>
					<p>
						Implementé buenas prácticas de desarrollo.
					</p>
					<p>
						<b>Stack Tecnológico manejado:</b> Modyo, Boostrap, Sass, React JS, VueJs, Vue Press y Google Analytics
					</p>
				</div>
				<div class="content">
					<p class="content-title">
						Desarrollador Front End
					</p>
					<p class="content-subtitle">VASS</p>
					<p class="content-date"> feb. 2020 - oct. 2021</p>
					<p>
						Realicé creación de componentes (VueJS - ReactJS).
					</p>
					<p>
						Integré consumo de servicios Api Rest.
					</p>
					<p>
						Maqueté paginas webs con diseño responsive para multi dispositivos.
					</p>
					<p>
						Realicé soporte continuo a proyectos Front y atención de incidencias mediante Jira. 
					</p>
					<p>
						Integré proyecto con pasarela de pago Webpay.
					</p>
					<p>
						<b>Stack Tecnológico manejado:</b>  Modyo, Boostrap, Sass, React JS, VueJs, Vue Press , Google Analytics, GitFlow, Vanilla JS.
					</p>
				</div>
				<div class="content">
					<p class="content-title">
						Desarrollador de software
					</p>
					<p class="content-subtitle">50Devs</p>
					<p class="content-date"> dic. 2018 - oct. 2019</p>
					<p>
						Diseñé y desarrollé de diagramas de flujo y casos de uso para cada proyecto.
					</p>
					<p>
						Prototipé a partir de wireframes en el lenguaje utilizado en cada proyecto.
					</p>
					<p>
						Elaboré productos de apariencia y sensación en el framework solicitado.
					</p>
					<p>
						Organicé de proyectos mediante el uso de metodologías ágiles. 
					</p>
					<p>
						Integré y configuré servicios de AWS.
					</p>
					<p>
						Implemente la herramienta GIT FLOW.
					</p>
					<p>
						<b>Stack Tecnológico manejado:</b> ReactJs, Redux, VueJs, Vuex, Javascript, Kotlin, AWS.
					</p>
				</div>
				<div class="content">
					<p class="content-title">
						Soporte Técnico // Analista de Sistemas
					</p>
					<p class="content-subtitle">Ministerio del Poder Popular de Petróleo</p>
					<p class="content-date"> ago. 2013 - abr. 2018</p>
					<p>
						Proporcionar Soporte Técnico a usuarios de la DRM y oficinas foráneas de forma individual y/o integrada con el personal de Soporte en Sitio.
					</p>
					<p>
						Elaborar informe diagnostico a través de visitas a todas las oficinas de la Jefatura de Zona Costa Oriental para la detección de necesidades tecnológicas.
					</p>
					<p>
						Ejecutar actividades asociadas al desarrollo de sistemas de información haciendo uso de metodologías para el Desarrollo de Sistemas con el propósito de automatizar los procesos internos en las Direcciones Regionales.
					</p>
					<p>
						Mantener constante vigilia tecnológica en el ámbito de las tecnologías de información y comunicación (Tics), garantizando la transferencia de conocimiento y las mejores practicas en la DRM.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b>Universidad Nacional Experimental 'Rafael María Baralt'Universidad Nacional Experimental</b> / <i>Licenciado en Educación mencion matematicas y fisica</i></p>
					<p><b>Instituto Universitario de Tecnologia Readic UNIR</b> / <i>Tecnico Superior Universitario en Informatica</i></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Desarrollo Front-End: Vue.js - React.js - Angular</p>
					<p>Implementación de Micro Frontends (Single-spa)</p>
					<p>Gestión de proyectos con metodologías ágiles (Scrum/Kanban)</p>
					<p>Despliegue en plataformas cloud: AWS, GCP</p>
					<p>Mentoría y docencia en tecnologías web, Consumo e integración de APIs</p>
					<p>Pruebas unitarias y TDD</p>
					<p>Diseño responsive y manejo avanzado de CSS</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content-title {
		font-weight: bold;
		font-size: 1.75rem;
	}

	.content-subtitle, .content-date {
		font-weight: semibold;
		font-size: .8rem;
	}

	.content p {
		line-height: 2rem;
		margin: .5rem 0;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
